## Sorting values on Pandas

Sorting values can help you select data that is most interesting to you.

In [1]:
import pandas as pd
import numpy as np

We've explored two ways to do this using ``for`` loops:
* sorting values from maximum to minimum
* only printing data that is greater/lesser than some set value

I'm going to introduce two functions that would be helpful in getting you there.

**Sort values from maximum to minimum:**

pandas_dataframe.**sort_values**(by, ascending)
* by = name(s) of column to sort
* ascending = True: values will be in ascending order
* ascending = False: values will be in descending order

In [2]:
#Some random data to play around with the function
test_data = pd.DataFrame({'Jan':np.random.rand(50)},index = range(2000, 2050))
test_data.head()

           Jan
2000  0.962770
2001  0.027202
2002  0.655069
2003  0.331642
2004  0.770528

Let's sort the data from lowest to highest with the respect to the Jan column.

In [7]:
test_data.sort_values(by = 'Jan',ascending = True)

           Jan
2001  0.027202
2048  0.080377
2028  0.096668
2033  0.101219
2021  0.124727
2040  0.131130
2036  0.139069
2049  0.144574
2019  0.166333
2047  0.226123
2023  0.249729
2042  0.253078
2027  0.260261
2012  0.268316
2006  0.269891
2039  0.296297
2003  0.331642
2026  0.337353
2015  0.337684
2029  0.359889
2011  0.381990
2034  0.434821
2014  0.446725
2008  0.456734
2025  0.516911
2044  0.539897
2046  0.555836
2017  0.584836
2022  0.613872
2043  0.644264
2018  0.653266
2002  0.655069
2045  0.659069
2037  0.659861
2013  0.674144
2031  0.681518
2016  0.711839
2020  0.724277
2009  0.731376
2035  0.755881
2024  0.757527
2004  0.770528
2041  0.856797
2010  0.858791
2038  0.870207
2007  0.909772
2032  0.929606
2005  0.946369
2000  0.962770
2030  0.968380

Now, sort the data from highest to lowest.

In [8]:
test_data.sort_values(by = 'Jan',ascending = False)

           Jan
2030  0.968380
2000  0.962770
2005  0.946369
2032  0.929606
2007  0.909772
2038  0.870207
2010  0.858791
2041  0.856797
2004  0.770528
2024  0.757527
2035  0.755881
2009  0.731376
2020  0.724277
2016  0.711839
2031  0.681518
2013  0.674144
2037  0.659861
2045  0.659069
2002  0.655069
2018  0.653266
2043  0.644264
2022  0.613872
2017  0.584836
2046  0.555836
2044  0.539897
2025  0.516911
2008  0.456734
2014  0.446725
2034  0.434821
2011  0.381990
2029  0.359889
2015  0.337684
2026  0.337353
2003  0.331642
2039  0.296297
2006  0.269891
2012  0.268316
2027  0.260261
2042  0.253078
2023  0.249729
2047  0.226123
2019  0.166333
2049  0.144574
2036  0.139069
2040  0.131130
2021  0.124727
2033  0.101219
2028  0.096668
2048  0.080377
2001  0.027202

**Find all values that meet some condition:**

pandas_dataframe.**where**(cond)
* cond: save all values that meet the condition and replaces others with NaN

Say we want all values that are greater than 0.5

So, our condition is: ``all values >= 0.5``

In [9]:
cond = test_data >= 0.5
test_data.where(cond)

           Jan
2000  0.962770
2001       NaN
2002  0.655069
2003       NaN
2004  0.770528
2005  0.946369
2006       NaN
2007  0.909772
2008       NaN
2009  0.731376
2010  0.858791
2011       NaN
2012       NaN
2013  0.674144
2014       NaN
2015       NaN
2016  0.711839
2017  0.584836
2018  0.653266
2019       NaN
2020  0.724277
2021       NaN
2022  0.613872
2023       NaN
2024  0.757527
2025  0.516911
2026       NaN
2027       NaN
2028       NaN
2029       NaN
2030  0.968380
2031  0.681518
2032  0.929606
2033       NaN
2034       NaN
2035  0.755881
2036       NaN
2037  0.659861
2038  0.870207
2039       NaN
2040       NaN
2041  0.856797
2042       NaN
2043  0.644264
2044  0.539897
2045  0.659069
2046  0.555836
2047       NaN
2048       NaN
2049       NaN

Set a new condition to apply to the test data.

In [11]:
cond= test_data <= .5
test_data.where(cond)

           Jan
2000       NaN
2001  0.027202
2002       NaN
2003  0.331642
2004       NaN
2005       NaN
2006  0.269891
2007       NaN
2008  0.456734
2009       NaN
2010       NaN
2011  0.381990
2012  0.268316
2013       NaN
2014  0.446725
2015  0.337684
2016       NaN
2017       NaN
2018       NaN
2019  0.166333
2020       NaN
2021  0.124727
2022       NaN
2023  0.249729
2024       NaN
2025       NaN
2026  0.337353
2027  0.260261
2028  0.096668
2029  0.359889
2030       NaN
2031       NaN
2032       NaN
2033  0.101219
2034  0.434821
2035       NaN
2036  0.139069
2037       NaN
2038       NaN
2039  0.296297
2040  0.131130
2041       NaN
2042  0.253078
2043       NaN
2044       NaN
2045       NaN
2046       NaN
2047  0.226123
2048  0.080377
2049  0.144574

### Return to the pandas review notebook (*pandas_review_name.ipynb*) and test out these functions on your ENSO index!